<div class="flex flex-col">
  <label class="flex-auto form-label inline-block mb-2"
         for="files">
    {{ labelTxt }}
  </label>

  <input #fileInput
         class="flex-auto px-2 py-1 text-sm font-normal bg-clip-padding border border-solid
                border-gray-300 rounded transition ease-in-out m-0 focus:border-blue-600 focus:outline-none
                cursor-pointer"
         [accept]="accept"
         id="files"
         type="file"
         (change)="changeFile($event.target['files'][0])">

  <mat-hint *ngIf="hintTxt.length > 0">
    {{ hintTxt }}
  </mat-hint>
</div>

<div class="flex flex-col p-4" *ngIf="files.length > 0">
  <app-file-list [files]="files"
                 (deleteFile)="deleteFile($event)">
  </app-file-list>
</div>
