<vex-page-layout mode="card">
  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="container">
      <h2 class="title m-0" *ngIf="requestCar">
        Detalle solicitud de automóvil <strong>{{ requestCar?.request?.code }}</strong>
      </h2>
      <vex-breadcrumbs [crumbs]="breadcrumbs"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container" *ngIf="requestCar">
    <div class="card p-6">
      <div class="flex">
        <h2 class="m-0 title mb-6"><strong>{{requestCar.request.title}}</strong></h2>

        <span class="flex-1"></span>

        <div class="flex items-center">
          <button [ngClass]="[requestCar.request.statusLabelRequestDriver.textClass,
                  requestCar.request.statusLabelRequestDriver.bgClass]"
                  class="rounded -mt-6 px-3 py-2 text-sm flex-none"
                  [matMenuTriggerFor]="statusMenu"
                  [disabled]="statusChange.length === 0">
            {{ requestCar.request.statusName }}
          </button>
        </div>
      </div>

      <mat-divider class="-mx-6 text-border"></mat-divider>

      <div @fadeInUp class="flex-auto">
        <div class="px-6 py-4 flex flex-col">
          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Solicitante</mat-label>
              <input matInput readonly [value]="requestCar.request.user.fullName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Puesto</mat-label>
              <input matInput readonly [value]="requestCar.request.user.position">
            </mat-form-field>
          </div>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha y hora de salida</mat-label>
              <input matInput readonly [value]="requestCar.request.startDate|date:'dd-MM-y, h:mm a'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha y hora de llegada</mat-label>
              <input matInput readonly [value]="requestCar.request.endDate|date:'dd-MM-y, h:mm a'">
            </mat-form-field>
          </div>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>N° de personas</mat-label>
              <input matInput readonly [value]="requestCar.request.people.toString()">
            </mat-form-field>

            <div class="flex-auto sm:mt-2 mb-4 sm:mb-0">
              <a class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary/10 trans-ease-out"
                 matRipple [href]="requestCar.authorizationFilename | url" target="_blank">
                <div class="p-2 bg-primary/10 text-primary rounded-full ltr:mr-4 rtl:ml-4">
                  <mat-icon class="block" svgIcon="mat:picture_as_pdf"></mat-icon>
                </div>
                <p class="font-medium text-primary">Archivo de autorización</p>
              </a>
            </div>
          </div>

          <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
            <mat-label>Comentarios</mat-label>
            <textarea matInput readonly [value]="requestCar.request.comment"></textarea>
          </mat-form-field>

          <!-- Información del vehículo que se le asignó -->
          <div class="flex flex-col sm:flex-row sm:gap-4" *ngIf="requestCar.carRequestSchedule">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Automóvil asignado</mat-label>
              <input matInput readonly [value]="requestCar.carRequestSchedule.carSchedule.car.smallInformation">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex-auto">
        <div class="px-6 flex flex-col gap-2">
          <app-cancel-request #cancelRequestComponent
                              *ngIf="requestCar.request.status.code === statusRequest[statusRequest.CANCELLED]"
                              [previousStatus]="this.previousStatus"
                              [cancelRequest]="requestCar?.request?.cancelRequest">
          </app-cancel-request>
          <app-transfer-request #transferRequestComponent
                                *ngIf="requestCar.request.status.code === statusRequest[statusRequest.TRANSFER]"
                                [offices]="transferOffices">
          </app-transfer-request>

          <app-car-request-assign #carRequestAssignComponent
                                  *ngIf="previousStatus.code === statusRequest[statusRequest.NEW] &&
                                     requestCar.request.status.code === statusRequest[statusRequest.APPROVED]"
                                  [requestCar]="requestCar">
          </app-car-request-assign>
        </div>
      </div>

      <div class="flex items-center justify-end mt-3">
        <button color="primary"
                mat-raised-button
                type="button"
                (click)="save()"
                [disabled]="statusChange.length === 0">
          Guardar
        </button>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #statusMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template matMenuContent>
    <ng-container *ngFor="let status of statusChange; trackBy: trackById">
      <button mat-menu-item (click)="changeStatus(status)">
        <span>{{ status.name }}</span>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
