<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Viáticos para el viaje
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="flex flex-col gap-2"
         [formGroup]="form">
      <div *ngIf="enableFirstSubmit"
           class="flex flex-col md:flex-row md:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Gasolina</mat-label>
          <input matInput
                 type="number"
                 formControlName="gasoline"
                 autocomplete="off"
                 [decimal]="3">
          <mat-icon class="mr-2" matPrefix svgIcon="mat:attach_money"></mat-icon>

          <mat-error *ngIf="formErrors.customError('gasoline', 'required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('gasoline', 'min')">
            El costo de la gasolina debe ser mayor a {{formErrors.minNumber('gasoline')}}.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('gasoline', 'max')">
            El costo de la gasolina debe ser menor a {{formErrors.maxNumber('gasoline')}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Casetas de cobro</mat-label>
          <input matInput
                 type="number"
                 formControlName="tollbooths"
                 autocomplete="off"
                 [decimal]="3">
          <mat-icon class="mr-2" matPrefix svgIcon="mat:attach_money"></mat-icon>

          <mat-error *ngIf="formErrors.customError('tollbooths', 'required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('tollbooths', 'min')">
            El costo de caseta de cobro debe ser mayor a {{formErrors.minNumber('tollbooths')}}.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('tollbooths', 'max')">
            El costo de caseta de cobro debe ser menor a {{formErrors.maxNumber('tollbooths')}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Comida</mat-label>
          <input matInput
                 type="number"
                 formControlName="food"
                 autocomplete="off"
                 [decimal]="3">
          <mat-icon class="mr-2" matPrefix svgIcon="mat:attach_money"></mat-icon>

          <mat-error *ngIf="formErrors.customError('food', 'required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('food', 'min')">
            El costo de la comida debe ser mayor a {{formErrors.minNumber('food')}}.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('food', 'max')">
            El costo de la comida debe ser menor a {{formErrors.maxNumber('food')}}.
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="!enableFirstSubmit"
           class="flex flex-col md:flex-row md:gap-4">
        <mat-form-field appearance="outline"
                        class="flex-auto vex-flex-form-field">
          <mat-label>Gasolina</mat-label>
          <input matInput readonly [value]="perDiem?.gasoline | currency:'MXN'">
        </mat-form-field>

        <mat-form-field appearance="outline"
                        class="flex-auto vex-flex-form-field">
          <mat-label>Caseta de cobro</mat-label>
          <input matInput readonly [value]="perDiem?.tollbooths | currency:'MXN'">
        </mat-form-field>

        <mat-form-field appearance="outline"
                        class="flex-auto vex-flex-form-field">
          <mat-label>Comida</mat-label>
          <input matInput readonly [value]="perDiem?.food | currency:'MXN'">
        </mat-form-field>
      </div>

      <div *ngIf="enableSecondSubmit" class="flex flex-col gap-2">
        <mat-form-field class="flex-auto">
          <mat-label>Total gastado en el viaje</mat-label>
          <input matInput
                 type="number"
                 formControlName="spent"
                 autocomplete="off"
                 [decimal]="3">
          <mat-icon class="mr-2" matPrefix svgIcon="mat:attach_money"></mat-icon>

          <mat-error *ngIf="formErrors.customError('spent', 'required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('spent', 'min')">
            El total debe ser mayor a {{formErrors.minNumber('spent')}}.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('spent', 'max')">
            El total debe ser menor a {{formErrors.maxNumber('spent')}}.
          </mat-error>
        </mat-form-field>

        <div class="flex-auto">
          <app-upload-multiple-files #uploadMultipleFilesComponent
                                     labelTxt="Facturas del viaje"
                                     hintTxt="Adjunta todas las facturas (PDF y XML) emitidas durante el viaje para la comprobación de gastos"
                                     accept="application/pdf,application/xml"
                                     [lengthFiles]="3">
          </app-upload-multiple-files>
        </div>
      </div>

      <div *ngIf="showSecondSubmit"
           class="flex flex-col">
        <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
          <mat-label>Total gastado durante el viaje</mat-label>
          <input matInput readonly [value]="perDiem.spent | currency:'MXN'">
        </mat-form-field>

        <app-file-list-readonly class="flex-auto"
                                [files]="perDiem.files">
        </app-file-list-readonly>
      </div>

      <div class="flex items-center justify-end">
        <button color="primary"
                mat-raised-button
                type="button"
                (click)="save()"
                [disabled]="disableSaveButton">
          Guardar
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
