<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Información complementaria
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="flex flex-col gap-2"
                  [formGroup]="form">
      <div class="flex flex-col md:flex-row md:gap-4">
        <mat-form-field class="flex-auto"
                        *ngIf="!requestCar.initialKm">
          <mat-label>Kilometraje inicial</mat-label>
          <input matInput
                 type="number"
                 formControlName="initialKm"
                 autocomplete="off">

          <mat-error *ngIf="formErrors.customError('initialKm', 'required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('initialKm', 'min')">
            El KM inicial debe ser mayor a {{formErrors.minNumber('initialKm')}}.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('initialKm', 'max')">
            El KM inicial debe ser menor a {{formErrors.maxNumber('initialKm')}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field"
                        *ngIf="requestCar.initialKm">
          <mat-label>Kilometraje inicial</mat-label>
          <input matInput readonly [value]="requestCar.initialKm | number">
        </mat-form-field>

        <mat-form-field class="flex-auto"
                        *ngIf="enableSecondSubmit">
          <mat-label>Kilometraje final</mat-label>
          <input matInput
                 type="number"
                 formControlName="finalKm"
                 autocomplete="off">

          <mat-error *ngIf="formErrors.customError('finalKm', 'required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('finalKm', 'min')">
            El KM final debe ser mayor a {{formErrors.minNumber('finalKm')}}.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('finalKm', 'max')">
            El KM final debe ser menor a {{formErrors.maxNumber('finalKm')}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field"
                        *ngIf="requestCar.finalKm">
          <mat-label>Kilometraje final</mat-label>
          <input matInput readonly [value]="requestCar.finalKm | number">
        </mat-form-field>
      </div>

      <div class="flex-auto" *ngIf="requestCar.files.length === 0">
        <app-upload-multiple-files #uploadMultipleFilesComponent
                                   labelTxt="Imágenes del vehículo"
                                   hintTxt="Adjunta todas las imágenes del vehículo"
                                   accept="image/jpeg,image/png,image/gif"
                                   [lengthFiles]="5">
        </app-upload-multiple-files>
      </div>

      <mat-form-field *ngIf="enableSecondSubmit">
        <mat-label>Condiciones del vehículo al momento de recibirlo</mat-label>
        <textarea placeholder="Escriba aquí...."
                  matInput
                  formControlName="deliveryCondition"></textarea>

        <mat-error *ngIf="formErrors.customError('deliveryCondition', 'required')">
          Campo obligatorio.
        </mat-error>
        <mat-error *ngIf="formErrors.customError('deliveryCondition', 'maxlength')">
          El comentario debe tener menos de {{ formErrors.maxLengthNumber('deliveryCondition') }} caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field"
                      *ngIf="requestCar.deliveryCondition">
        <mat-label>Condiciones del vehículo al momento de recibirlo</mat-label>
        <textarea matInput readonly [value]="requestCar.deliveryCondition"></textarea>
      </mat-form-field>

      <div class="flex flex-col" *ngIf="requestCar.files.length > 0">
        <app-file-list-readonly class="flex-auto"
                                [files]="requestCar.files">
        </app-file-list-readonly>
      </div>
    </div>

    <div class="flex items-center justify-end mt-3">
      <button color="primary"
              mat-raised-button
              type="button"
              (click)="save()"
              [disabled]="!enableSaveButton">
        Guardar
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
