<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-96" src="../../../../assets/img/logo-cm.png" alt="logo">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Reestablecer contraseña</h2>
      <h4 class="body-2 text-secondary m-0 p-1">Ingrese su correo electrónico para reestablecer su contraseña.</h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>

        <mat-icon class="mr-2" matPrefix svgIcon="mat:mail"></mat-icon>
        <input formControlName="email" matInput required>
        <mat-error *ngIf="form.get('email').hasError('required')">
          We can't recover your password, without your email.
        </mat-error>
      </mat-form-field>

      <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button">
        REESTABLECER
      </button>

      <button (click)="backToLogin()" class="mt-3" color="warn" mat-raised-button type="button">
        REGRESAR
      </button>

    </div>
  </div>
</div>
