<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div class="container w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Historial</h1>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content class="container -mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          <span>Conductores</span>
        </h2>

        <div
          class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
          <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
          <input [formControl]=""
                 class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                 placeholder="Buscar..."
                 type="search">
        </div>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
            Fecha solicitada
          </th>
          <td *matCellDef="let row" mat-cell>
            {{ row.date | date:'dd-MM-y / h:mm a' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="availability">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Estatus</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <div [ngClass]="[row.labelAvailability.textClass, row.labelAvailability.bgClass]"
                   class="rounded px-2 py-1 font-medium text-xs flex-none">
                {{ row.labelAvailability.text }}
              </div>
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ room: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon svgIcon="mat:more_horiz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-room="room" matMenuContent>
    <button mat-menu-item>
      <mat-icon svgIcon="mat:done"></mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-menu-item>
      <mat-icon svgIcon="mat:close"></mat-icon>
      <span>Rechazar</span>
    </button>
    <button mat-menu-item>
      <mat-icon svgIcon="mat:reply"></mat-icon>
      <span>Propuesta</span>
    </button>
  </ng-template>
</mat-menu>
