<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div class="container w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Inventario</h1>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container -mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          <span>Articulos</span>
        </h2>

        <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
          <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
          <input [formControl]="searchCtrl"
                 class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                 placeholder="Buscar..."
                 type="search"
                 (keyup.enter)="search()">
        </div>
        <span class="flex-1"></span>

        <button [matMenuTriggerFor]="columnFilterMenu"
                class="ml-4 flex-none"
                mat-icon-button
                matTooltip="Filtrar columnas"
                type="button">
          <mat-icon svgIcon="mat:filter_list"></mat-icon>
        </button>
        <button class="ml-4 flex-none"
                color="primary"
                mat-mini-fab
                matTooltip="Agregar producto"
                type="button"
                (click)="openDialog()">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort
             (matSortChange)="sortChange($event)">
        <!-- Nombre columna -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Nombre</th>
          <td *matCellDef="let row" mat-cell>{{ row.name }}</td>
        </ng-container>

        <!-- Descripción columna -->
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Descripción</th>
          <td *matCellDef="let row" mat-cell>
            {{ (row.description) ? (row.description | slice:0:35) : '' }}{{ (row.description && row.description?.length > 35) ? '...' : '' }}
          </td>
        </ng-container>

        <!-- Stock columna -->
        <ng-container matColumnDef="stock">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Stock</th>
          <td *matCellDef="let row" mat-cell>{{ row.stock }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef class="uppercase" mat-header-cell>Estatus</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <div [ngClass]="{'text-green': row.status, 'text-warn': !row.status, 'bg-green-light': row.status,
                                'bg-red-light': !row.status}"
                   class="rounded px-2 py-1 font-medium text-xs flex-none">
                {{ (row.status) ? 'Activo' : 'Inactivo' }}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="typeInventory">
          <th *matHeaderCellDef class="uppercase" mat-header-cell>Tipo inventario</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <div class="rounded px-2 py-1 font-medium text-xs flex-none text-orange bg-orange-light">
                {{ row.typeInventoryName }}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th *matHeaderCellDef class="uppercase" mat-header-cell>Unidad</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <div class="rounded px-2 py-1 font-medium text-xs flex-none text-teal bg-teal-light">
                {{ row.unitName }}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ inventory: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon svgIcon="mat:more_horiz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;"
            (click)="openDialog(row.id)"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
      </table>

      <ng-container *ngIf="inventoryResponse">
        <app-paginator [pageSizeOptions]="pageSizeOptions"
                       [meta]="inventoryResponse.meta"
                       (onChanges)="paginatorChanges($event)">
        </app-paginator>
      </ng-container>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-inventory="inventory" matMenuContent>
    <button mat-menu-item (click)="openDialog(inventory.id)">
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button mat-menu-item (click)="deleteItem(inventory.id)">
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Borrar</span>
    </button>
    <button mat-menu-item (click)="changeStock(inventory.id)">
      <mat-icon svgIcon="mat:swap_vert"></mat-icon>
      <span>Cambiar stock</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
          class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

