<div>
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">
      Mi Perfil
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col mt-6 gap-1">
    <mat-form-field class="flex-auto">
      <mat-label>N° Colaborador</mat-label>
      <input matInput readonly [value]="user.noEmployee">
      <mat-icon class="mr-3" matPrefix svgIcon="mat:tag"></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Nombre completo</mat-label>
      <input matInput readonly [value]="user.fullName">
      <mat-icon class="mr-3" matPrefix svgIcon="mat:person"></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Correo electrónico</mat-label>
      <input matInput readonly [value]="user.email">
      <mat-icon class="mr-3" matPrefix svgIcon="mat:mail"></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row sm:gap-3">
      <mat-form-field class="flex-auto">
        <mat-label>Teléfono personal</mat-label>
        <input matInput readonly [value]="user.personalPhone">
        <mat-icon class="mr-3" matPrefix svgIcon="mat:call"></mat-icon>
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>Teléfono oficina</mat-label>
        <input matInput readonly [value]="user.officePhone">
        <mat-icon class="mr-3" matPrefix svgIcon="mat:call"></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Puesto</mat-label>
      <input matInput readonly [value]="user.position">
      <mat-icon class="mr-3" matPrefix svgIcon="mat:work"></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Área</mat-label>
      <input matInput readonly [value]="user.area">
      <mat-icon class="mr-3" matPrefix svgIcon="mat:work"></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Oficina</mat-label>
      <input matInput readonly [value]="user.office.name">
      <mat-icon class="mr-3" matPrefix svgIcon="mat:apartment"></mat-icon>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cerrar</button>
  </mat-dialog-actions>
</div>
