<div class="body-2 p-6 bg-primary text-primary-contrast">
  <p>Hoy</p>
  <div class="display-1">{{ dayName | titlecase }}</div>
  <div class="display-1">{{ date }}</div>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 matSubheader>Próximos eventos</h3>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Sala de juntas - Administrativa</h4>
    <p matLine>En 16 minutos, Sala Carranza</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Automóvil - Volkswagen Vento Plata</h4>
    <p matLine>09:30 PM</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Sala de juntas - Ejecutiva</h4>
    <p matLine>12:00 PM</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Chofer - Armando Paredes</h4>
    <p matLine>12:00 PM</p>
  </a>
</mat-nav-list>
