<div class="body-2 p-6 bg-primary text-primary-contrast">
  <p>Hoy</p>
  <div class="display-1">{{ dayName | titlecase }}</div>
  <div class="display-1">{{ date }}</div>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 matSubheader *ngIf="events.length === 0">Sin eventos</h3>
  <h3 matSubheader *ngIf="events.length > 0">Próximos eventos</h3>
  <ng-container *ngFor="let event of events; trackBy: trackById">
    <a mat-list-item
       (click)="redirectRequestDetail(event.request)">
      <h4 matLine>{{event.title}}</h4>
      <p matLine>{{event.subtitle}}</p>
    </a>
  </ng-container>
</mat-nav-list>
