<vex-page-layout mode="card">
    <vex-page-layout-header class="flex flex-col items-start justify-center">
      <div class="container">
        <h2 class="title m-0" *ngIf="requestDriver">
          Detalle solicitud de chofer <strong>{{ requestDriver?.request?.code }}</strong>
        </h2>
        <vex-breadcrumbs [crumbs]="breadcrumbs"></vex-breadcrumbs>
      </div>
    </vex-page-layout-header>
  
    <vex-page-layout-content class="container" *ngIf="requestDriver">
      <div class="card p-6">
        <div class="flex">
          <h2 class="m-0 title mb-6"><strong>{{requestDriver.request.title}}</strong></h2>
  
          <span class="flex-1"></span>
  
          <div class="flex items-center">
            <button [ngClass]="[requestDriver.request.statusLabelRequestDriver.textClass,
                    requestDriver.request.statusLabelRequestDriver.bgClass]"
                    class="rounded -mt-6 px-3 py-2 text-sm flex-none"
                    [disabled]="true">
              {{ requestDriver.request.statusName }}
            </button>
          </div>
        </div>
  
        <mat-divider class="-mx-6 text-border"></mat-divider>
  
        <div @fadeInUp class="flex-auto">
          <div class="px-6 py-4 flex flex-col">
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                <mat-label>Solicitante</mat-label>
                <input matInput readonly [value]="requestDriver.request.user.fullName">
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                <mat-label>Puesto</mat-label>
                <input matInput readonly [value]="requestDriver.request.user.position">
              </mat-form-field>
            </div>
  
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                <mat-label>Fecha y hora de salida</mat-label>
                <input matInput readonly [value]="requestDriver.request.startDate|date:'dd-MM-y, h:mm a'">
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                <mat-label>Fecha y hora de llegada</mat-label>
                <input matInput readonly [value]="requestDriver.request.endDate|date:'dd-MM-y, h:mm a'">
              </mat-form-field>
            </div>
  
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                <mat-label>N° de personas</mat-label>
                <input matInput readonly [value]="requestDriver.request.people.toString()">
              </mat-form-field>
  
                <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                    <mat-label>Vehículo</mat-label>
                    <input matInput readonly [value]="requestDriver.driverRequestSchedule.carSchedule.car.smallInformation">
                  </mat-form-field>
            </div>
  
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Comentarios</mat-label>
              <textarea matInput readonly [value]="requestDriver.request.comment"></textarea>
            </mat-form-field>
  
            <!-- Información del chofer que entregará la paquetería -->
            <div class="flex flex-col sm:flex-row sm:gap-4" *ngIf="requestDriver.driverRequestSchedule">
              <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
                <mat-label>Nombre del chofer</mat-label>
                <input matInput readonly [value]="requestDriver.driverRequestSchedule.driverSchedule.driver.fullName">
              </mat-form-field>
            </div>
  
            <div class="flex flex-col gap-5">
              <app-address title="Dirección de salida"
                           subtitle="Información del lugar de salida"
                           [data]="requestDriver.pickupAddress"
                           [enableForm]="false">
              </app-address>
  
              <app-address title="Dirección de llegada"
                           subtitle="Información del lugar de llegada"
                           [data]="requestDriver.arrivalAddress"
                           [enableForm]="false">
              </app-address>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-end mt-3">
            <button mat-button
                color="primary"
                [routerLink]="urlRedirectBack">
                Regresar
            </button>
        </div>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>