<vex-page-layout-content class="container">
  <div class="px-6 h-16 border-b sticky left-0 flex items-center">
    <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
      <span>Asignación de chofer</span>
    </h2>
  </div>

  <form [formGroup]="form" @fadeInUp class="flex-auto mt-4">
    <div class="px-6 py-4 flex flex-col">
      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Conductor</mat-label>
          <mat-select formControlName="driverId">
            <mat-option *ngFor="let driver of drivers; trackBy: trackById"
                        [value]="driver.id">
              {{ driver.fullName }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="formErrors.customError('driverId','required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Vehículo</mat-label>
          <mat-select formControlName="carId">
            <mat-option *ngFor="let car of cars; trackBy: trackById"
                        [value]="car.id">
              <span *ngIf="car.hasDrivers; else hasntDrivers">
                  {{ car.smallInformation }} - Asignado
              </span>
              <ng-template #hasntDrivers>
                <span>
                  {{ car.smallInformation }}
                </span>
              </ng-template>
            </mat-option>
          </mat-select>

          <mat-error *ngIf="formErrors.customError('carId','required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</vex-page-layout-content>
