<form class="w-full" @fadeInUp [formGroup]="form" (ngSubmit)="save()">
  <div mat-dialog-title class="flex items-center">
    <h2 class="headline m-o flex-auto">
      Calificación del servicio de la solicitud {{ notification.requestNotification.request.code }}
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content class="flex flex-col gap-6 mt-2">

    <h2 class="subheading-2 text-center text-justify">
      Califica y escribe un comentario de acuerdo a la experiencia que hayas tenido con nuestro servicio de
      {{service}} en la fecha {{notification.requestNotification.request.startDate | date:'dd/MM/y'}}. Esto nos ayudará a seguir mejorando.
    </h2>

    <app-star-rating #starRatingComponent
                     class="flex flex-row gap-6 mx-auto">
    </app-star-rating>

    <mat-form-field class="flex-auto">
      <mat-label>Comentarios adicionales...</mat-label>
      <textarea matInput formControlName="comment" rows="5"></textarea>

      <mat-error *ngIf="formErrors.customError('comment', 'minlength')">
        El comentario debe tener más de {{formErrors.minLengthNumber('comment')}} caracteres.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('comment', 'maxlength')">
        El comentario debe tener menos de {{formErrors.maxLengthNumber('comment')}} caracteres.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button color="primary" mat-flat-button type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
