<div class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
  <vex-widget-assistant class="col-span-1 sm:col-span-2 md:col-span-4"></vex-widget-assistant>

  <ng-container *ngIf="!isAdmin">
    <vex-widget-quick-value-center icon="mat:post_add"
                                   iconClass="text-primary bg-primary/10"
                                   label="Nuevas"
                                   [value]="newRequests"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center icon="mat:check_circle"
                                   iconClass="text-green bg-green-light"
                                   label="Aprobadas"
                                   [value]="approvedRequests"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center icon="mat:cancel"
                                   iconClass="text-red bg-red-light"
                                   label="Canceladas"
                                   [value]="cancelledRequests"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center icon="mat:folder_open"
                                   iconClass="text-teal bg-teal-light"
                                   label="Total General"
                                   [value]="totalRequests"></vex-widget-quick-value-center>

    <vex-widget-large-goal-chart *ngIf="isRecepcionist"
                                 [series]="requestSeries"
                                 [percentage]="percentage"
                                 class="sm:col-span-full"
                                 [total]="totalRequestsOfMonth"></vex-widget-large-goal-chart>
  </ng-container>
</div>
