<form [formGroup]="form"
      (ngSubmit)="save()"
      class="flex flex-col">
    <div class="flex items-center" mat-dialog-title>

      <h3 class="headline m-0 flex-auto">Cambiar contraseña</h3>

      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon svgIcon="mat:close"></mat-icon>
      </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content class="flex flex-col gap-4 mt-3">
      <mat-form-field class="flex-auto">
        <mat-label>Nueva contraseña</mat-label>
        <input cdkFocusInitial matInput [type]="inputTypeNew" formControlName="password">
        <button (click)="toggleVisibilityNew()"
                mat-icon-button
                matSuffix
                [matTooltip]="tooltipPasswordNew"
                type="button">
          <mat-icon *ngIf="visibleNew" svgIcon="mat:visibility"></mat-icon>
          <mat-icon *ngIf="!visibleNew" svgIcon="mat:visibility_off"></mat-icon>
        </button>

        <mat-error *ngIf="formErrors.customError('password', 'required')">
          Campo obligatorio.
        </mat-error>
        <mat-error *ngIf="formErrors.customError('password', 'minlength')">
          La contraseña debe tener más de {{formErrors.minLengthNumber('password')}} caracteres.
        </mat-error>
        <mat-error *ngIf="formErrors.customError('password', 'maxlength')">
          La contraseña debe tener menos de {{formErrors.maxLengthNumber('password')}} caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="inputTypeConfirm" formControlName="confirmPassword">
        <button (click)="toggleVisibilityConfirm()"
                mat-icon-button
                matSuffix
                [matTooltip]="tooltipPasswordConfirm"
                type="button">
          <mat-icon *ngIf="visibleConfirm" svgIcon="mat:visibility"></mat-icon>
          <mat-icon *ngIf="!visibleConfirm" svgIcon="mat:visibility_off"></mat-icon>
        </button>

        <mat-error *ngIf="formErrors.customError('confirmPassword', 'differentPassword')">
          Las contraseñas deben ser iguales.
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancelar</button>
        <button color="primary" mat-flat-button type="submit">Guardar</button>
    </mat-dialog-actions>
</form>
