<div [@stagger]="true" class="p-gutter container">
  <div class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 border-b flex flex-col">
        <h2 class="title m-0">Solicitar Sala de Juntas</h2>
      </div>

      <form class="px-6 py-4 flex flex-col gap-2"
           [formGroup]="form">
        <div class="flex flex-col md:flex-row md:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Título de la reunión</mat-label>
            <input matInput type="text" formControlName="title" autocomplete="off">

            <mat-error *ngIf="formErrors.customError('title', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('title', 'minlength')">
              El título debe ser igual o mayor a {{ formErrors.minLengthNumber('title') }}.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('title', 'maxlength')">
              El titulo debe ser igual o menor a {{ formErrors.maxLengthNumber('title') }}.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Sede</mat-label>
            <mat-select formControlName="state">
              <mat-option *ngFor="let state of states; trackBy: trackById"
                          [value]="state.id">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.customError('state', 'required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Sala</mat-label>
            <mat-select formControlName="roomId">
              <mat-option *ngFor="let room of rooms; trackBy: trackById"
                          [value]="room.id">
                Sala {{ room.name }} - Oficina {{ room.office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.customError('roomId', 'required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col md:flex-row md:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Fecha de reservación</mat-label>
            <input [matDatepicker]="datepickerRef"
                   [matDatepickerFilter]="weekendsOff"
                   formControlName="date" matInput readonly>
            <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepickerRef></mat-datepicker>

            <mat-error *ngIf="formErrors.customError('date','required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('date','dateBeforeNow')">
              La fecha debe ser igual o mayor a la actual.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Hora inicio</mat-label>
            <input #startTime matInput type="time"
                   step="900" min="08:00" max="18:00"
                   formControlName="startTime"
                   (change)="changeTime('startTime', startTime.value)">

            <mat-error *ngIf="formErrors.customError('startTime','required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('startTime', 'outOfTime')">
              No se puede reservar fuera del horario laboral.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Hora final</mat-label>
            <input #endTime matInput type="time"
                   step="900" min="08:00" max="18:00"
                   formControlName="endTime"
                   (change)="changeTime('endTime', endTime.value)">

            <mat-error *ngIf="formErrors.customError('endTime','required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('endTime', 'outOfTime')">
              No se puede reservar fuera del horario laboral.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('endTime', 'isEndTimeBeforeToStartTime')">
              La hora debe ser mayor a la de inicio.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>N° de personas a ingresar</mat-label>
            <input matInput type="number"
                   formControlName="people"
                   autocomplete="off">

            <mat-error *ngIf="formErrors.customError('people', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('people', 'min')">
              El N° de personas debe ser igual o mayor a {{ formErrors.minNumber('people') }}.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('people', 'max')">
              El N° de personas debe ser igual o menor a {{ formErrors.maxNumber('people') }}.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>N° de personas externas</mat-label>
            <input matInput type="number"
                   formControlName="externalPeople"
                   autocomplete="off">

            <mat-error *ngIf="formErrors.customError('externalPeople', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('externalPeople', 'min')">
              El N° de personas externas debe ser igual o mayor a {{ formErrors.minNumber('externalPeople') }}.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('externalPeople', 'max')">
              El N° de personas externas debe ser igual o menor a {{ formErrors.maxNumber('externalPeople') }}.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4 mb-3 sm:mb-0">
          <mat-form-field class="flex-auto">
            <mat-label>Tipo de reunión</mat-label>
            <mat-select formControlName="levelId">
              <mat-option *ngFor="let type of meetingTypes; trackBy: trackById"
                          [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="formErrors.customError('levelId', 'required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>

          <div class="flex-auto sm:mt-3 sm:ml-3">
            <mat-slide-toggle formControlName="addGoogleCalendar"
                              matTooltip="Agendar el evento (en caso de aprobarse) en tu Google Calendar">
              Agregar al Google Calendar
            </mat-slide-toggle>
          </div>
        </div>

        <mat-form-field>
          <mat-label>Comentarios</mat-label>
          <textarea placeholder="Describa aquí los snacks que le gustaría tener en su reunión u otro comentario adicional..."
                    matInput formControlName="comment"></textarea>
        </mat-form-field>

        <app-phone-request-table #phoneRequestTableComponent></app-phone-request-table>

        <div class="flex items-center justify-end mt-2">
          <button color="primary"
                  mat-raised-button
                  type="button"
                  (click)="save()">
            Agendar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
