<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Correos electrónicos de contacto
      </mat-panel-title>
      <mat-panel-description class="hidden sm:block" *ngIf="!previousStatus">
        Gestiona los contactos a los que se dará aviso
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container>
      <vex-page-layout-content class="container">
        <div class="px-6 h-16 border-b sticky left-0 flex items-center">
          <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
            <input class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                   placeholder="Buscar..."
                   type="search"
                   [formControl]="searchCtrl">
          </div>

          <span class="flex-1"></span>

          <button class="ml-4 flex-none"
                  color="primary"
                  mat-mini-fab
                  matTooltip="Agregar teléfono"
                  type="button"
                  (click)="openDialog()" *ngIf="!this.previousStatus || (!this.isRecepcionist && this.canDoActions)">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>

        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
              Nombre
            </th>
            <td *matCellDef="let row" mat-cell>
              {{ row.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
              Correo electrónico
            </th>
            <td *matCellDef="let row" mat-cell>
              {{ row.email }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions" *ngIf="!this.previousStatus || (!this.isRecepcionist && this.canDoActions)">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button [matMenuTriggerData]="{ phone: row }"
                      [matMenuTriggerFor]="actionsMenu"
                      mat-icon-button
                      type="button">
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: visibleColumns;"
              @fadeInUp
              class="hover:bg-hover trans-ease-out cursor-pointer"
              mat-row></tr>
        </table>

        <ng-container *ngIf="dataSource">
          <app-simple-paginator [dataSource]="dataSource"></app-simple-paginator>
        </ng-container>
      </vex-page-layout-content>

      <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
        <ng-template let-phone="phone" matMenuContent>
          <button mat-menu-item (click)="openDialog(phone)">
            <mat-icon svgIcon="mat:edit"></mat-icon>
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)="openDialogDelete(phone)">
            <mat-icon svgIcon="mat:delete"></mat-icon>
            <span>Eliminar</span>
          </button>
        </ng-template>
      </mat-menu>
    </ng-container>

  </mat-expansion-panel>
</mat-accordion>
