<vex-page-layout-content class="container">
  <div class="px-6 h-16 border-b sticky left-0 flex items-center">
    <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
      <span>Propuesta</span>
    </h2>
  </div>

  <form [formGroup]="form"
        @fadeInUp
        class="flex-auto">
    <div class="px-6 py-4 flex flex-col">
      <div class="flex flex-col md:flex-row md:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Fecha de propuesta</mat-label>
          <input [matDatepicker]="datepickerRef"
                 [matDatepickerFilter]="weekendsOff"
                 formControlName="date"
                 matInput readonly>
          <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>

          <mat-error *ngIf="formErrors.customError('date','required')">
            Campo obligatorio.
          </mat-error>
          <mat-error *ngIf="formErrors.customError('date','dateBeforeNow')">
            La fecha debe ser igual o mayor a la actual.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Horario</mat-label>
          <mat-select formControlName="schedule">
            <mat-option *ngFor="let schedule of availableSchedule; let i = index"
                        [value]="i">
              {{ schedule.startDate | date:'h:mm a' }} - {{ schedule.endDate | date:'h:mm a' }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="formErrors.customError('schedule','required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</vex-page-layout-content>
