<vex-page-layout mode="card">
  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="container">
      <h2 class="title m-0" *ngIf="requestDriver">
        Detalle solicitud de chofer <strong>{{ requestDriver?.request?.code }}</strong>
      </h2>
      <vex-breadcrumbs [crumbs]="breadcrumbs"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container" *ngIf="requestDriver">
    <div class="card p-6">
      <div class="flex">
        <h2 class="m-0 title mb-6"><strong>{{requestDriver.request.title}}</strong></h2>

        <span class="flex-1"></span>

        <div class="flex items-center">
          <button [ngClass]="[requestDriver.request.statusLabelRequestDriver.textClass,
                  requestDriver.request.statusLabelRequestDriver.bgClass]"
                  class="rounded -mt-6 px-3 py-2 text-sm flex-none"
                  [matMenuTriggerFor]="statusMenu"
                  [disabled]="statusChange.length === 0">
            {{ requestDriver.request.statusName }}
          </button>
        </div>
      </div>

      <mat-divider class="-mx-6 text-border"></mat-divider>

      <div @fadeInUp class="flex-auto">
        <div class="px-6 py-4 flex flex-col">
          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Solicitante</mat-label>
              <input matInput readonly [value]="requestDriver.request.user.fullName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Puesto</mat-label>
              <input matInput readonly [value]="requestDriver.request.user.position">
            </mat-form-field>
          </div>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha y hora de salida</mat-label>
              <input matInput readonly [value]="requestDriver.request.startDate|date:'dd-MM-y, h:mm a'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha y hora de llegada</mat-label>
              <input matInput readonly [value]="requestDriver.request.endDate|date:'dd-MM-y, h:mm a'">
            </mat-form-field>
          </div>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>N° de personas</mat-label>
              <input matInput readonly [value]="requestDriver.request.people.toString()">
            </mat-form-field>

            <div class="flex-auto sm:mt-2 mb-4 sm:mb-0">
              <a class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary/10 trans-ease-out"
                 matRipple [href]="requestDriver.authorizationFilename | url" target="_blank">
                <div class="p-2 bg-primary/10 text-primary rounded-full ltr:mr-4 rtl:ml-4">
                  <mat-icon class="block" svgIcon="mat:picture_as_pdf"></mat-icon>
                </div>
                <p class="font-medium text-primary">Archivo de autorización</p>
              </a>
            </div>
          </div>

          <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
            <mat-label>Comentarios</mat-label>
            <textarea matInput readonly [value]="requestDriver.request.comment"></textarea>
          </mat-form-field>

          <!-- Información del chofer que entregará la paquetería -->
          <div class="flex flex-col sm:flex-row sm:gap-4" *ngIf="requestDriver.driverRequestSchedule">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Nombre del chofer</mat-label>
              <input matInput readonly [value]="requestDriver.driverRequestSchedule.driverSchedule.driver.fullName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Vehículo</mat-label>
              <input matInput readonly [value]="requestDriver.driverRequestSchedule.carSchedule.car.smallInformation">
            </mat-form-field>
          </div>

          <div class="flex flex-col gap-5">
            <app-address title="Dirección de salida"
                         subtitle="Información del lugar de salida"
                         [data]="requestDriver.pickupAddress"
                         [enableForm]="false">
            </app-address>

            <app-address title="Dirección de llegada"
                         subtitle="Información del lugar de llegada"
                         [data]="requestDriver.arrivalAddress"
                         [enableForm]="false">
            </app-address>
          </div>
        </div>
      </div>

      <div class="flex-auto">
        <div class="px-6 flex flex-col gap-2">
          <app-cancel-request #cancelRequestComponent
                              *ngIf="requestDriver.request.status.code === statusRequest[statusRequest.CANCELLED]"
                              [previousStatus]="this.previousStatus"
                              [cancelRequest]="requestDriver?.request?.cancelRequest">
          </app-cancel-request>

          <app-transfer-request #transferRequestComponent
                                *ngIf="requestDriver.request.status.code === statusRequest[statusRequest.TRANSFER]"
                                [offices]="transferOffices">
          </app-transfer-request>

          <app-driver-request-assign #driverRequestAssignComponent
                                     *ngIf="previousStatus.code === statusRequest[statusRequest.NEW] &&
                                     requestDriver.request.status.code === statusRequest[statusRequest.APPROVED]"
                                     [requestDriver]="requestDriver">
          </app-driver-request-assign>
        </div>
      </div>

      <div class="flex-auto" *ngIf="previousStatus.code === statusRequest[statusRequest.PROPOSAL]">
        <div class="px-6 flex flex-col gap-2">
          <div class="h-16 border-b sticky left-0 flex items-center">
            <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
              <span>Propuesta</span>
            </h2>
          </div>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha y hora de salida</mat-label>
              <input matInput readonly [value]="requestDriver.request.proposalRequest[0].startDate|date:'dd-MM-y, h:mm a'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha y hora de llegada</mat-label>
              <input matInput readonly [value]="requestDriver.request.proposalRequest[0].endDate|date:'dd-MM-y, h:mm a'">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-end mt-3">
        <button color="primary"
                mat-raised-button
                type="button"
                (click)="save()"
                [disabled]="statusChange.length === 0">
          Guardar
        </button>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #statusMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template matMenuContent>
    <ng-container *ngFor="let status of statusChange; trackBy: trackById">
      <button mat-menu-item (click)="changeStatus(status)">
        <span>{{ status.name }}</span>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
