<form [formGroup]="form" (ngSubmit)="save()">
  <div class="flex items-center" mat-dialog-title>

    <h3 class="headline m-0 flex-auto">Correo electrónico</h3>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col gap-2 mt-4">
    <mat-form-field class="flex-auto">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" autocomplete="off" cdkFocusInitial>

      <mat-error *ngIf="formErrors.customError('name','required')">
        Campo obligatorio.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('name','minlength')">
        El nombre debe tener más de {{ formErrors.minLengthNumber('name') }} caracteres.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('name','maxlength')">
        El nombre debe tener menos de {{ formErrors.maxLengthNumber('name') }} caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" autocomplete="off">

      <mat-error *ngIf="formErrors.customError('email','required')">
        Campo obligatorio.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('email','email')">
        Debe ingresar un correo válido.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('email','maxlength')">
        El correo debe tener menos de {{ formErrors.maxLengthNumber('email') }} caracteres.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button color="primary" mat-flat-button type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
