<vex-page-layout mode="card">

  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="container">
      <h2 class="title m-0" *ngIf="requestRoom">
        Detalle de la solicitud <strong>{{ requestRoom?.request?.code }}</strong>
        /
        No. de solicitudes aprobadas <strong>{{ requestRoom?.requestsApproved }}</strong>
      </h2>
      <vex-breadcrumbs [crumbs]="breadcrumbs"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container" *ngIf="requestRoom">
    <div class="card p-6">
      <div class="flex">
        <h2 class="m-0 title mb-6"><strong>{{requestRoom.request.title}}</strong></h2>

        <span class="flex-1"></span>

        <div class="flex items-center">
          <button [ngClass]="[requestRoom.request.statusLabelRequestRoom.textClass, requestRoom.request.statusLabelRequestRoom.bgClass]"
                  class="rounded -mt-6 px-3 py-2 text-sm flex-none"
                  [matMenuTriggerFor]="statusMenu"
                  [disabled]="statusChange.length === 0">
            {{ requestRoom.request.statusName }}
          </button>
        </div>
      </div>

      <mat-divider class="-mx-6 text-border"></mat-divider>

      <div @fadeInUp class="flex-auto">
        <div class="px-6 py-4 flex flex-col">
          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Solicitante</mat-label>
              <input matInput readonly [value]="requestRoom.request.user.fullName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Puesto</mat-label>
              <input matInput readonly [value]="requestRoom.request.user.position">
            </mat-form-field>
          </div>

          <div class="flex flex-col md:flex-row md:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Oficina</mat-label>
              <input matInput readonly [value]="requestRoom.room.office.name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Sala</mat-label>
              <input matInput readonly [value]="requestRoom.room.name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Tipo de reunión</mat-label>
              <input matInput readonly [value]="requestRoom.level.name">
            </mat-form-field>
          </div>

          <div class="flex flex-col md:flex-row md:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Fecha reservación</mat-label>
              <input matInput readonly [value]="requestRoom.request.startDate|date:'dd-MM-y'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Hora inicio</mat-label>
              <input matInput readonly [value]="requestRoom.request.startDate|date:'h:mm a'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>Hora fin</mat-label>
              <input matInput readonly [value]="requestRoom.request.endDate|date:'h:mm a'">
            </mat-form-field>
          </div>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>N° de personas a ingresar</mat-label>
              <input matInput readonly [value]="requestRoom.request.people.toString()">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
              <mat-label>N° de personas externas</mat-label>
              <input matInput readonly [value]="requestRoom.externalPeople.toString()">
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="flex-auto vex-flex-form-field">
            <mat-label>Comentarios</mat-label>
            <textarea matInput readonly [value]="requestRoom.request.comment"></textarea>
          </mat-form-field>

          <app-score-request *ngIf="requestRoom.request.score"
                     [score]="requestRoom.request.score">
          </app-score-request>
        </div>
      </div>

      <div class="flex-auto">
        <div class="px-6 flex flex-col gap-2">
          <app-snack-detail *ngIf="requestRoom.request.status.code === statusRequest[statusRequest.APPROVED] ||
            requestRoom.request.status.code === statusRequest[statusRequest.FINISHED]"
                            #snackDetailComponent
                            [snacks]="requestRoom.request.inventories"
                            [snackList]="snackList"
                            [previousStatus]="previousStatus"
                            [requestId]="requestRoom.requestId">
          </app-snack-detail>

          <app-proposal-request #proposalRequestComponent
                                *ngIf="requestRoom.request.status.code === statusRequest[statusRequest.PROPOSAL]"
                                [requestId]="requestRoom.requestId"
                                [proposalData]="requestRoom.request.proposalRequest"
                                (chosenProposal)="responseRejectRequest($event)">
          </app-proposal-request>

          <app-cancel-request #cancelRequestComponent
                              *ngIf="requestRoom.request.status.code === statusRequest[statusRequest.CANCELLED]"
                              [previousStatus]="this.previousStatus"
                              [cancelRequest]="requestRoom?.request?.cancelRequest">
          </app-cancel-request>

          <!--<app-phone-request-table [previousStatus]="previousStatus"
                                   [requestId]="requestRoom.requestId"
                                   [phoneNumbers]="requestRoom.request.requestPhoneNumber">
          </app-phone-request-table>-->

          <app-email-request-table [previousStatus]="previousStatus"
                                   [requestId]="requestRoom.requestId"
                                   [emails]="requestRoom.request.requestEmail">
          </app-email-request-table>
        </div>
      </div>

      <div class="flex items-center justify-end mt-3">
        <button color="primary"
                mat-raised-button
                type="button"
                (click)="save()"
                [disabled]="statusChange.length === 0">
          Guardar
        </button>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #statusMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template matMenuContent>
    <ng-container *ngFor="let status of statusChange; trackBy: trackById">
      <button mat-menu-item (click)="changeStatus(status)">
        <span>{{ status.name }}</span>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
