<div class="flex items-center" mat-dialog-title>
  <h2 class="headline m-0 flex-auto">Cambiar imagen</h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content class="flex flex-col mt-2 justify-center">
  <div class="mx-auto relative">
    <img *ngIf="!imgTemp" class="h-52 w-52 object-cover rounded block" [src]="data.image|url" [alt]="data.name">
    <img *ngIf="imgTemp" class="h-52 w-52 object-cover rounded block" [src]="imgTemp" [alt]="data.name">

    <mat-icon *ngIf="canDeleteImage"
              class="text-red absolute top-0 left-full cursor-pointer"
              svgIcon="mat:delete"
              (click)="deleteImage()"></mat-icon>
  </div>

  <form [formGroup]="form" class="flex flex-col mb-3 w-96 mt-3">
    <label for="file" class="flex-auto form-label inline-block mb-2">
      Seleccione una imagen
    </label>
    <input class="flex-auto px-2 py-1 text-sm font-normal bg-clip-padding border border-solid
            border-gray-300 rounded transition ease-in-out m-0 focus:border-blue-600 focus:outline-none cursor-pointer"
           id="file"
           type="file"
           accept="image/*"
           formControlName="image"
           (change)="changeImage($event.target['files'][0])">

    <mat-error *ngIf="formErrors.customError('image', 'required')">
      Campo obligatorio.
    </mat-error>
    <mat-error *ngIf="formErrors.customErrorFile('imageSrc', 'sizeFile')">
      El tamaño de la imagen debe ser menor a 2mb.
    </mat-error>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">Cancelar</button>
  <button color="primary" mat-flat-button (click)="save()">Guardar</button>
</mat-dialog-actions>
