<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div class="container w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Mantenimiento</h1>
        <vex-breadcrumbs></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container -mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          <span>Salas de Junta</span>
        </h2>

        <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
          <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
          <input class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                 placeholder="Buscar..."
                 type="search"
                 [formControl]="searchCtrl"
                 (keyup.enter)="search()">
        </div>

        <span class="flex-1"></span>

        <button class="ml-4 flex-none"
                color="primary"
                mat-mini-fab
                matTooltip="Nueva sala"
                type="button"
                (click)="openDialog()">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort [trackBy]="trackById"
             (matSortChange)="sortChange($event)">
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>


        <ng-container matColumnDef="statusLabel">
          <th *matHeaderCellDef class="uppercase" mat-header-cell>Estatus</th>
          <td *matCellDef="let row" mat-cell>
            <div class="flex items-center gap-1">
              <div [ngClass]="[row.labelStatus.textClass, row.labelStatus.bgClass]"
                   class="rounded px-2 py-1 font-medium text-xs flex-none">
                {{ row.labelStatus.text }}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ room: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon svgIcon="mat:more_horiz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
      </table>

      <ng-container *ngIf="roomResponse">
        <app-paginator [pageSizeOptions]="pageSizeOptions"
                       [meta]="roomResponse.meta"
                       (onChanges)="paginatorChanges($event)">
        </app-paginator>
      </ng-container>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-room="room" matMenuContent>
    <button mat-menu-item (click)="openDialog(room.id)">
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button mat-menu-item (click)="delete(room.id)">
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Eliminar</span>
    </button>
    <button (click)="showChangeStatus(room.id)"
            mat-menu-item>
      <mat-icon svgIcon="mat:sync"></mat-icon>
      <span>Cambiar estatus</span>
    </button>
  </ng-template>
</mat-menu>
