<vex-page-layout-content class="container">
  <div class="px-6 h-16 border-b sticky left-0 flex items-center">
    <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
      <span>Artículos</span>
    </h2>

    <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
      <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
      <input class="px-4 py-2 border-0 outline-none w-full bg-transparent"
             placeholder="Buscar..."
             type="search"
             [formControl]="searchCtrl">
    </div>

    <span class="flex-1"></span>

    <button class="ml-4 flex-none"
            color="primary"
            mat-mini-fab
            matTooltip="Agregar artículo"
            type="button"
            (click)="openDialog()">
      <mat-icon svgIcon="mat:add"></mat-icon>
    </button>
  </div>

  <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
    <ng-container matColumnDef="high">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        Altura
      </th>
      <td *matCellDef="let row" mat-cell>
        {{ row.high }} cm.
      </td>
    </ng-container>

    <ng-container matColumnDef="long">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        Largo
      </th>
      <td *matCellDef="let row" mat-cell>
        {{ row.long }} cm.
      </td>
    </ng-container>

    <ng-container matColumnDef="width">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        Largo
      </th>
      <td *matCellDef="let row" mat-cell>
        {{ row.width }} cm.
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        Descripción
      </th>
      <td *matCellDef="let row" mat-cell>
        {{ row.description | slice:0:40 }}{{ (row.description.length > 40) ? '...' : '' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
        <button [matMenuTriggerData]="{ heavyShipment: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button">
          <mat-icon svgIcon="mat:more_horiz"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: visibleColumns;"
        @fadeInUp
        class="hover:bg-hover trans-ease-out cursor-pointer"
        mat-row></tr>
  </table>

  <ng-container *ngIf="dataSource">
    <app-simple-paginator [dataSource]="dataSource"></app-simple-paginator>
  </ng-container>
</vex-page-layout-content>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-heavyShipment="heavyShipment" matMenuContent>
    <button mat-menu-item
            (click)="openDialog(heavyShipment)">
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button mat-menu-item
            (click)="deleteItem(heavyShipment)">
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
