<form [formGroup]="form" (ngSubmit)="save()">
  <div class="flex items-center" mat-dialog-title>
    <h3 class="title m-0 flex-auto">Aumentar / Disminuir stock</h3>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col mt-2">
    <mat-form-field class="flex-auto">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" formControlName="stock" autocomplete="off" cdkFocusInitial>

      <mat-error *ngIf="formErrors.customError('stock', 'required')">
        Campo obligatorio.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('stock', 'min')">
        El número debe ser igual o mayor a {{ formErrors.minNumber('stock') }}.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('stock', 'max')">
        El número debe ser igual o menor a {{ formErrors.maxNumber('stock') }}.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto" *ngIf="costVisibility">
      <mat-label>Costo</mat-label>
      <input matInput type="number" formControlName="cost" autocomplete="off" [decimal]="3">

      <mat-error *ngIf="formErrors.customError('cost', 'required')">
        Campo obligatorio.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('cost', 'greaterThanCero')">
        El costo debe ser mayor a 0.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('cost', 'max')">
        El costo debe ser igual o menor a {{ formErrors.maxNumber('cost') }}.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button color="primary" mat-flat-button type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
