<vex-page-layout>
    <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
      <div class="container w-full flex flex-col sm:flex-row justify-between">
        <div>
          <h1 class="title mt-0 mb-1">Mantenimiento</h1>
          <vex-breadcrumbs></vex-breadcrumbs>
        </div>
      </div>
    </vex-page-layout-header>

    <vex-page-layout-content class="container -mt-6">
      <div class="card overflow-auto -mt-16">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
          <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
            <span>Conductores</span>
          </h2>

          <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
            <input class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                   placeholder="Buscar..."
                   type="search"
                   [formControl]="searchCtrl"
                   (keyup.enter)="search()">
          </div>

        </div>

        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort [trackBy]="trackById"
               (matSortChange)="sortChange($event)">
          <ng-container matColumnDef="noEmployee">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header># Colaborador</th>
            <td *matCellDef="let row" mat-cell>{{ row.noEmployee }}</td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Nombre completo</th>
            <td *matCellDef="let row" mat-cell>{{ row.fullName }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Correo Electrónico</th>
            <td *matCellDef="let row" mat-cell>{{ row.email }}</td>
          </ng-container>

          <ng-container matColumnDef="personalPhone">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Teléfono personal</th>
            <td *matCellDef="let row" mat-cell>{{ row.personalPhone }}</td>
          </ng-container>

          <ng-container matColumnDef="cars">
            <th *matHeaderCellDef class="uppercase" mat-header-cell>Vehículo</th>
            <td *matCellDef="let row" mat-cell>
              <div class="flex items-center gap-1">
                <div [ngClass]="[row.carInfo.textClass, row.carInfo.bgClass]"
                  class="rounded px-2 py-1 font-medium text-xs flex-none">
                    {{row.carInfo.text}}
                </div>
              </div>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef class="uppercase" mat-header-cell>Estatus</th>
            <td *matCellDef="let row" mat-cell>
                <div class="flex items-center gap-1">
                    <div [ngClass]="[row.statusLabel.textClass, row.statusLabel.bgClass]"
                        class="rounded px-2 py-1 font-medium text-xs flex-none">
                        {{row.statusLabel.text}}
                    </div>
                </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button
                    [matMenuTriggerData]="{ driver: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: visibleColumns;"
              @fadeInUp
              class="hover:bg-hover trans-ease-out cursor-pointer"
              mat-row></tr>
        </table>

        <ng-container *ngIf="driveResponse">
          <app-paginator [pageSizeOptions]="pageSizeOptions"
                         [meta]="driveResponse.meta"
                         (onChanges)="paginatorChanges($event)">
          </app-paginator>
        </ng-container>

      </div>
    </vex-page-layout-content>
  </vex-page-layout>

  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-driver="driver" matMenuContent>
      <button mat-menu-item (click) = "details(driver.id)">
        <mat-icon svgIcon="mat:visibility"></mat-icon>
        <span>Detalle</span>
      </button>
      <button mat-menu-item (click) = "openDialog(driver.id)">
        <mat-icon svgIcon="mat:directions_car"></mat-icon>
        <span>Asignar vehículo</span>
      </button>
    </ng-template>

  </mat-menu>
