<div class="flex items-center" mat-dialog-title>
  <h2 class="headline m-0 flex-auto block">
    Propuesta
  </h2>

  <button class="text-secondary" [mat-dialog-close]="false" mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content class="flex flex-col gap-2 mt-4" [formGroup]="form">
  <h2 class="title mx-auto">Día seleccionado: <span *ngIf="dateValue">{{dateValue | date:'dd/MM/y'}}</span></h2>

  <mat-card class="w-60 sm:w-80 mx-auto my-2">
    <mat-calendar [selected]="form.get('date').value"
                  (selectedChange)="updateDate($event)">
    </mat-calendar>
  </mat-card>

  <div class="flex-auto" *ngIf="dateValue">
    <div class="px-6 py-4 flex flex-col">
      <div class="flex-auto">
        <mat-slide-toggle (change)="changeToggle()">
          ¿El envío será por paquetería externa?
        </mat-slide-toggle>
      </div>

      <div class="mt-4 flex flex-col" *ngIf="!isChecked">
        <mat-form-field class="flex-auto">
          <mat-label>Conductor</mat-label>
          <mat-select formControlName="driverId">
            <mat-option *ngFor="let driver of drivers; trackBy: trackById"
                        [value]="driver.id">
              {{ driver.fullName }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="formErrors.customError('driverId','required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Vehículo</mat-label>
          <mat-select formControlName="carId">
            <mat-option *ngFor="let car of cars; trackBy: trackById"
                        [value]="car.id">
                <span *ngIf="car.hasDrivers; else hasntDrivers">
                  <mat-icon color="primary" mat-list-avatar svgIcon="mat:key"></mat-icon> {{ car.smallInformation }}
                </span>
              <ng-template #hasntDrivers>
                  <span>
                  {{ car.smallInformation }}
                </span>
              </ng-template>
            </mat-option>
          </mat-select>

          <mat-error *ngIf="formErrors.customError('carId','required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-4" *ngIf="isChecked">
        <div class="flex flex-col md:flex-row md:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Fecha de llegada aproximada</mat-label>
            <input [matDatepicker]="datepickerRef"
                   formControlName="endDate" matInput readonly>
            <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepickerRef></mat-datepicker>

            <mat-error *ngIf="formErrors.customError('endDate','required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('endDate','dateBeforeNow')">
              La fecha debe ser igual o mayor a la actual.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2" *ngIf="packages.length > 0">
    <ng-container *ngFor="let packageModel of packages">
      <app-request-packahe-driver-info [package]="packageModel"></app-request-packahe-driver-info>
    </ng-container>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" type="button">Cerrar</button>
  <button color="primary"
          mat-flat-button
          type="button"
          (click)="save()">
    Guardar
  </button>
</mat-dialog-actions>
