<h2 mat-dialog-title>Términos y Condiciones</h2>
<mat-dialog-content class="mat-typography">
  <div class="flex flex-col gap-1">
    <div>
      <p class="text-justify">
        <mat-icon class="h-3" svgIcon="mat:chevron_right"></mat-icon> Una vez que se haya aprobado la solicitud, se debe
        revisar por cuenta propia que el vehículo que se detalla en la solicitud sea entregada como préstamo en
        óptimas condiciones para su uso.
      </p>
    </div>

    <div>
      <p class="text-justify">
        <mat-icon class="h-3" svgIcon="mat:chevron_right"></mat-icon> Acepta la responsabilidad para hacer buen uso,
        cuidar y resguardar la unidad vehicular, el cual será herramienta de trabajo que le es otorgada para el buen
        desempeño de sus actividades.
      </p>
    </div>

    <div>
      <p class="text-justify">
        <mat-icon class="h-3" svgIcon="mat:chevron_right"></mat-icon> Mantener limpia y cuidar el estado general de la
        unidad por lo cual se deberá poner a disposición la unidad a la empresa para gestionar con anticipación
        los mantenimientos preventivos en coordinación de administración de flotilla.
      </p>
    </div>

    <div>
      <p class="text-justify">
        <mat-icon class="h-3" svgIcon="mat:chevron_right"></mat-icon> Asegurarse de que la empresa le entregue los
        documentos necesarios para circular de acuerdo a los reglamentos de tránsito (tarjeta de circulación, placas, etc.).
      </p>
    </div>

    <div>
      <p class="text-justify">
        <mat-icon class="h-3" svgIcon="mat:chevron_right"></mat-icon> Si se llegase a registrar algún siniestro con
        el vehículo, durante su uso fuera del horario laboral y/o fines de semana, y en caso de que el colaborador
        cuente con la autorización antes mencionada; el área encarga de la implementación del protocolo, evaluará las
        circunstancias de los hechos, con el propósito de deslindar responsabilidades y determinar si es aplicable
        solicitar al mismo, el pago para la reparación de la unidad por los daños ocasionados derivados del percance.
      </p>
    </div>

    <div>
      <p class="text-justify">
        <mat-icon class="h-3" svgIcon="mat:chevron_right"></mat-icon> En caso contrario, y al no contar con dicho
        requisito, el colaborador será el único responsable de los siniestros que se suscitaran con el vehículo,
        por lo que cubriría los gastos que sufra la unidad y de igual manera se sancionaría acorde a lo que a derecho proceda.
      </p>
    </div>
  </div>
</mat-dialog-content>
