<div [@stagger]="true" class="p-gutter container">
  <div class="flex flex-col sm:flex-row gap-4">
    <form @fadeInUp class="card flex-auto" [formGroup]="form">
      <div class="px-6 py-4 border-b flex flex-col">
        <h2 class="title m-0">Envío Paquetería</h2>
      </div>

      <div class="px-6 py-4 flex flex-col gap-2">
        <div class="flex flex-col md:flex-row md:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Título de la solicitud</mat-label>
            <input matInput type="text" formControlName="title" autocomplete="off">

            <mat-error *ngIf="formErrors.customError('title', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('title', 'minlength')">
              El título debe tener más de {{ formErrors.minLengthNumber('title') }} caracteres.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('title', 'maxlength')">
              El título debe tener menos de {{ formErrors.maxLengthNumber('title') }} caracteres.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Sede</mat-label>
            <mat-select formControlName="state">
              <mat-option *ngFor="let state of states; trackBy: trackById"
                          [value]="state.id">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.customError('state', 'required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Oficina</mat-label>
            <mat-select formControlName="officeId">
              <mat-option *ngFor="let office of offices; trackBy: trackById"
                          [value]="office.id">
                Oficina {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.customError('officeId', 'required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Fecha de envío</mat-label>
            <input [matDatepicker]="datepickerRef"
                   formControlName="date" matInput readonly>
            <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepickerRef></mat-datepicker>

            <mat-error *ngIf="formErrors.customError('date','required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('date','dateBeforeNow')">
              La fecha debe ser igual o mayor a la actual.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('date','dateAfter30Days')">
              La fecha no debe pasar 30 días después a la actual.
            </mat-error>
          </mat-form-field>

          <div class="flex-auto sm:mt-3 sm:ml-3">
            <mat-slide-toggle formControlName="addGoogleCalendar"
                              matTooltip="Agendar el evento (en caso de aprobarse) en tu Google Calendar">
              Agregar al Google Calendar
            </mat-slide-toggle>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <app-address #pickupAddress
                       title="Dirección de salida"
                       subtitle="Información del lugar de salida del paquete">
          </app-address>

          <app-address #arrivalAddress
                       title="Dirección de llegada"
                       subtitle="Información del lugar de llegada del paquete">
          </app-address>
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4">
          <div class="flex-auto mb-3 mt-2">
            <mat-checkbox class="block px-4 py-7 text-gray-700" formControlName="isUrgent" (change)="isUrgent($event.checked)">
              ¿El envío es urgente?
            </mat-checkbox>
          </div>
          <div class="flex-auto mb-3 mt-2">
            <label for="file" class="form-label inline-block mb-2 text-gray-700">
              Autorización de envío de paquetería
            </label>
            <input class="block w-full sm:w-4/5 px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding
              border border-solid border-gray-300 rounded transition ease-in-out m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                   formControlName="authorizationFile"
                   accept="application/pdf"
                   id="file"
                   type="file"
                   (change)="changeFile($event.target['files'][0])">
  
            <mat-error *ngIf="formErrors.customError('authorizationFile', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customErrorFile('authorizationFileSrc', 'sizeFile')">
              El tamaño del archivo debe ser menor a 3mb.
            </mat-error>
          </div>
          
        </div>
      
        <mat-form-field>
          <mat-label>Comentarios sobre el paquete</mat-label>
          <textarea placeholder="Describa aquí las instrucciones de envío..."
                    matInput
                    formControlName="comment"></textarea>
          <mat-error *ngIf="formErrors.customError('comment', 'required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <div class="border-b flex flex-col">
          <h2 class="title mb-2">Información de quien recibe</h2>
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Nombre completo</mat-label>
            <input matInput
                   formControlName="nameReceive"
                   autocomplete="off">

            <mat-error *ngIf="formErrors.customError('nameReceive', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('nameReceive', 'minlength')">
              El nombre debe tener más de {{ formErrors.minLengthNumber('nameReceive') }} caracteres.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('nameReceive', 'maxlength')">
              El nombre debe tener menos de {{ formErrors.maxLengthNumber('nameReceive') }} caracteres.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Correo electrónico</mat-label>
            <input matInput
                   formControlName="emailReceive"
                   autocomplete="off">

            <mat-error *ngIf="formErrors.customError('emailReceive', 'required')">
              Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('emailReceive','maxlength')">
              El correo debe tener menos de {{ formErrors.maxLengthNumber('emailReceive') }} caracteres.
            </mat-error>
            <mat-error *ngIf="formErrors.customError('emailReceive','email')">
              Debe ingresar un correo válido.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex items-center justify-end">
          <button color="primary"
                  mat-raised-button
                  type="button"
                  (click)="save()">
            Crear solicitud
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
