<form [formGroup]="form" (ngSubmit)="save()">
  <div class="flex items-center" mat-dialog-title>

    <h3 class="headline m-0 flex-auto">Asignar Snack</h3>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col gap-2 mt-4">
    <mat-chip-list *ngIf="disableInput" class="flex-auto p-2 mx-auto">
      <ng-container *ngIf="!data.row">
        <mat-chip (removed)="remove()">
          {{ snackSelected.name|slice:0:25 }}{{ (snackSelected.name.length > 25) ? '...' : '' }}
          <button matChipRemove>
            <mat-icon svgIcon="mat:close"></mat-icon>
          </button>
        </mat-chip>
      </ng-container>

      <ng-container *ngIf="data.row">
        <mat-chip>
          {{ snackSelected.name|slice:0:25 }}{{ (snackSelected.name.length > 25) ? '...' : '' }}
        </mat-chip>
      </ng-container>
    </mat-chip-list>

    <mat-form-field class="flex-auto" *ngIf="!disableInput">
      <mat-label>Producto</mat-label>

      <input matInput
             formControlName="snackCtrl"
             [matAutocomplete]="auto">

      <mat-error *ngIf="formErrors.customError('snackCtrl', 'required')">
        Campo obligatorio.
      </mat-error>

      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="selected($event)">
        <mat-option *ngFor="let snack of filteredSnacks | async; trackBy: trackById" [value]="snack">
          <img class="flex autocomplete-img align-middle mr-2 h-6" [src]="snack.image|url" [alt]="snack.name">
          <span>{{ snack.name }}</span> | <small>{{ snack.trademark }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="flex-auto" *ngIf="enableQuantity">
      <mat-label>Cantidad</mat-label>
      <input matInput
             type="number"
             formControlName="quantity"
             autocomplete="off">

      <mat-error *ngIf="formErrors.customError('quantity', 'required')">
        Campo obligatorio.
      </mat-error>

      <mat-error *ngIf="formErrors.customError('quantity', 'min')">
        La cantidad debe ser igual o mayor a {{ formErrors.minNumber('quantity') }}.
      </mat-error>
      <mat-error *ngIf="formErrors.customError('quantity', 'max')">
        La cantidad debe ser igual o menor a {{ formErrors.maxNumber('quantity') }}.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button color="primary" mat-flat-button type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
